spring.application.name=Lixiarchos
server.port=8080
server.address=127.0.0.1

spring.datasource.url=jdbc:mysql://localhost:3306/lixiarchos?useSSL=true&serverTimezone=UTC
spring.datasource.username=user
spring.datasource.password=sample_password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

app.admin.username=admin
app.admin.password=sample_password

app.user.username=user
app.user.password=sample_password

# JPA configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Email configuration
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=sample@gmail.com
spring.mail.password=sample_password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# Backups
app.backup.path=/opt/lixiarchos/backups/

# Log path
logging.file.name=/var/log/lixiarchos.log
logging.file.path=/var/log/
# Max file size before rolling over
logging.logback.rollingpolicy.max-file-size=10MB

# Keep 10 log files (spring-1.log, spring-2.log, ...)
logging.logback.rollingpolicy.max-history=10

# Cap total disk usage
logging.logback.rollingpolicy.total-size-cap=100MB

# Rate limiting
app.rateLimit.maxRequests = 5
app.rateLimit.windowSeconds = 10

# --- HSTS SETTINGS ---
#security.hsts.enabled=true
#security.hsts.max-age=31536000
#security.hsts.include-subdomains=true
#security.hsts.preload=true

server.servlet.session.cookie.http-only=true
server.servlet.session.cookie.secure=true
server.servlet.session.cookie.same-site=strict